@import "../../constant.scss";

.board-container {
  height: 100vh;
  width: 100vw;
  padding-top: 5rem;
  color: color(white);
  display: flex;
  flex-direction: column;
  position: relative;

  .board-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
  }

  .board-content {
    position: relative;
    flex-grow: 1;
  }
}

.board-columns-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .column-container {
    user-select: none;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 272px;
    margin: 0 0.5rem;

    .add-column {
      padding: 0;
      font-size: 1.5rem;
      font-weight: normal;
      cursor: pointer;
    }
  }
}
