@import "../../constant.scss";

.card-container {
  min-height: 40px;
  margin-bottom: 0.7rem;
  position: relative;
  border-radius: 3px;
  background-color: color(white);
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;

  &.dragging {
    border: 3px solid orange;
  }

  .card-label {
    width: 1.5rem;
    border-radius: 3px 0 0 3px;
  }

  .card-content {
    flex-grow: 1;
    padding: 1rem;

    .symbols {
      opacity: 0.8;
      transition: all 0.5s ease;
      padding: 0.5rem;
      margin-right: 0.5rem;

      &:hover {
        opacity: 1;
      }

      &.symbols-pill {
        color: color(white);
        background-color: color(primary);
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 15px;

        &.start-date {
          background-color: color(success);
        }

        &.due-date {
          background-color: color(danger);
        }
      }
    }
  }
}
