@import "constant.scss";

/* Base reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  color: color(black);
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h3 {
  font-size: 1.7rem;
}

p,
a,
li {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: color(primary);
}

// containers

.container,
.container-fluid {
  width: 100%;
  padding-top: 5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

// text utils

.text-center {
  text-align: center;
}

.text-primary {
  color: color(primary) !important;
}

.text-primary-dark {
  color: color(primary-dark) !important;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

/* box */

.box {
  background-color: color(white-trans);
  color: color(white);
  padding: 0.5rem 0.7rem;
  border-radius: 3px;
  opacity: 0.9;
  margin: 0 0.3rem;
  font-weight: 600;

  &.white-box {
    background-color: rgba(255, 255, 255, 0.479);
  }

  &:hover {
    opacity: 1;
  }
}

/*** Media Query ***/

/* Phone */

@media (min-width: 576px) {
  html,
  body {
    font-size: 8px;
  }
  .container {
    max-width: 540px;
  }
}

/*  Tablet */
@media (min-width: 768px) {
  html,
  body {
    font-size: 10px;
  }

  .container {
    max-width: 720px;
  }
}

/* Medium screen */
@media (min-width: 992px) {
  html,
  body {
    font-size: 11px;
  }

  .container {
    max-width: 960px;
  }
}

/* Wide screen */
@media (min-width: 1200px) {
  html,
  body {
    font-size: 12px;
  }

  .container {
    max-width: 1140px;
  }
}
